* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  padding: 3vw 3vw 2vw calc(220px + 3vw);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #272727;
  overflow-x: hidden;
}